Django==2.2.13
boto==2.48.0
boto3==1.7.3
dj-database-url==0.4.2
django-cors-headers==2.4.0
django-compressor==2.2
django-environ==0.4.4
django-friendship==1.8.1 
django-imagekit==4.0
django-libsass==0.7
django_orderable==6.0.1
django-redis==4.7.0
djangorestframework==3.9.2
django-storages[boto3]==1.6.6
gevent==1.2.2
greenlet==0.4.13
graphene-django==2.0
gunicorn==19.8.1
ipython
libsass==0.14.5
newrelic==3.2.0.91
pillow==6.2.0
postgres==2.2.1
requests==2.21.0
whitenoise==3.3.0
psycogreen==1.0
psycopg2==2.7.3.1
pytz==2017.2
raven==6.7.0
